*~
*.pyc
__pycache__/
checkpoints/
!nns/mixins/checkpoints
plots/
dataset*
!ct82/datasets
!ct82/datasets/datasets.py
!consep/datasets
!lits17/datasets
!lits17/datasets/datasets.py
consep_dataset*
/settings.py
runs*

# test datasets
gutils_test_datasets/